.first-section{
    padding: 50px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),url(./moviePicture.jpg),;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    h1{
        font-size: 30px;
        color: white;
    }
    .firstsection-div{
       padding: 50px 0;
        form{
        .search-input{
            width: 50%;
            height: 35px;
            @media screen and (max-width: 600px){
               width: 100%;
            }
        }
        .search-btn{
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: rgb(19, 61, 177);
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover{
            background-color: black;
            color: grey;
        }
        @media screen and (max-width: 600px){
            width: 100%;
            margin: 15px 0;
         }
        }
        }
    }
}

.result-section{
    h2{
        text-align: start;
        padding: 0 30px;
    }
    .card-div{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        @media screen and (max-width: 600px){
            grid-template-columns: 1fr;
        }
        .error-message{
            display: grid;
            grid-template-columns: 1000px;
            padding-left: 200px;
            color: rgba(255, 0, 0, 0.432);
            @media screen and (max-width: 600px){
               grid-template-columns: 1fr;
               padding-left: 0;
            }
        }
    }
}
.movies-section{
    padding: 20px 30px;
    .movies-card{
       background-color: whitesmoke;
        box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.164);
        background-color: black;
        img{
            width: 80%;
            height: 250px;
            object-fit: cover;
        }
        .card-content{
            background-color: white;
            padding: 20px 0;
            button{
                background-color: rgb(19, 61, 177);
                color: white;
                padding: 10px 5px;
                font-weight: bold;
                transition: all 0.4s ease-in-out;
                cursor: pointer;
                &:disabled{
                    color: grey;
                    background-color: white;
                }
                &:hover{
                    background-color: black;
                    color: grey;
                }
            }
        }
    }
}