.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    .nav-link{
        color: white;
        text-decoration: none;
    }
    .nomi-link{
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: rgb(0, 110, 255);
        }
    }
}

.nomination{
    h1{
        color: white;
    }
}